@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles here */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Force app to render at 80% zoom */
html {
  zoom: 0.8;
}
